div {
    width:100px;
    height: 100px;

}
#bluediv {
    background-color: cyan;
    position: absolute;
    top: 100px;
    left: 200px;
    bottom: auto;
    right: auto;


}

#reddiv{
    background-color: red;
}

